@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
